/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #FFA500; /* Оранжевый фон */
    color: #000; /* Черный текст */
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    color: #FFF; /* Белый цвет заголовка */
}

main {
    margin-top: 50px;
}

button {
    background-color: #000; /* Черный фон кнопки */
    color: #FFF; /* Белый текст кнопки */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555; /* Темно-серый цвет при наведении */
}
